.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 40%;
  background-color: rgba(54, 165, 72, 0.473);
}

.right {
  right: 0;
  width: 60%;
  background-color: rgba(65, 106, 160, 0.329);
}

.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.justifyLeft{
  position: absolute;
  top: 30%;
  left: 10%;
  text-align: justify;
  width: 80%;
}
.justifyRight{
  position: absolute;
  left: 10%;
  text-align: justify;
  width: 80%;
}
.none{
  list-style-type: none;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.788);
  
}
.font-p{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.788);
}
.none li{
  margin-bottom: 30px;
}
.none li div:first-child{
  margin-bottom: 5px;
}
.none li div:last-child{
  margin-bottom: 5px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.877);
}
.footer{
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

.footer a{
  transition-duration: 0.4s;
  border-radius: 8%;
  margin-left: 10px;
}

.footer a:link, a:visited {
  background-color: #3885c4b9;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.footer a:hover, a:active {
  background-color: rgba(27, 209, 133, 0.747);
}

